<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.bupt.opensource.test.springboot.dao.SearchItemMapper" >


	<resultMap type="cn.edu.bupt.opensource.test.springboot.domain.request.SearchItem" id="searchItemResultMap">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="sell_point" property="sellPoint"/>
		<result column="price" property="price"/>
		<result column="image" property="image"/>
		<result column="updated" property="updated"/>
		<result column="category_name" property="categoryName"/>
		<result column="item_desc" property="itemDesc"/>
	</resultMap>

	<!-- 商品列表 -->
	<select id="getItemList" resultMap="searchItemResultMap">
		SELECT
			a.id, a.title, a.sell_point, a.price, a.image, a.updated,
			b.name category_name,
			c.item_desc
		from tb_item a
		LEFT JOIN tb_item_cat b ON a.cid = b.id
		LEFT JOIN tb_item_desc c on a.id = c.item_id
		where a.status = 1
	</select>

	<!-- 根据商品ID查询商品信息 -->
	<select id="getItemById" parameterType="long" resultMap="searchItemResultMap">
		SELECT
			a.id, a.title, a.sell_point, a.price, a.image, a.updated,
			b.name category_name,
			c.item_desc
		from tb_item a
		LEFT JOIN tb_item_cat b ON a.cid = b.id
		LEFT JOIN tb_item_desc c on a.id = c.item_id
		WHERE a.status = 1
		AND a.id = #{itemId}
	</select> 

</mapper>